# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
gradle
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

.gitattributes
changelog.txt
CREDITS.txt
gradle.properties
gradlew
gradlew.bat
LICENSE.txt
README.txt